/**
  * Color
  * Border Color
  * Background Color  
*/

/* Color
-------------------------------------------------------------- */
a:hover, a:focus,.flat-infomation li a:hover, .social-links li a:hover, .top.style2 .widget-header .text a:hover, #mainnav .menu > li > a:hover, .footer-widgets .flat-infomation li a:hover, .top.backgroud-gray .flat-infomation li a:hover, .page-title .breadcrumbs li a, .tags-links a:hover, .comment-text .comment-metadata .comment-reply a,.notification_error, .notification_ok, .footer-bottom .copyright a:hover,
.footer-bottom .menu-footer li a:hover, .entry-post-title ul.entry-meta li a:hover, .widget-categories ul li a:hover, .wrap-header-widget .widget-header .text h3, article.post.style3 .news-button.style3 a, .box-content .flat-list li:before,
.latest-tweets ul.tweet_list.slides li a, .widget-services ul.menu li:hover a, .flat-callback-form .flat-field .field-one-half label.error, article.post.style3 .content-post h4 a:hover, article.post.style3 .news-button.style3 a:after,
.blog-single .flat-pagination li a:hover, .comment-body .comment-metadata span.name a:hover, .title-section.color-theme h2, .iconbox.style3 .box-icon i, .imagebox .imagebox-title h3 a:hover, .iconbox.style4 .box-icon i, table.table-pricing tbody .flat-button.style2 , .iconbox-slider .slides .item .title-post a:hover, .iconbox-slider .slides .item .category-post a:hover, .testimonials.style2 .avatar span.name, .wrap-iconbox .content-portfolio .text a:hover, .widget-tab .menu.menu-tab li:hover a,
.header.style3 #mainnav > ul > li > a:hover, .header.style3 .show-search a:hover i, .widget-tab .menu.menu-tab li.active a, .widget-tab .menu.menu-tab li.active i, .flat-pricing .flat-value, .iconbox.style2 .box-icon i, .imagebox.style3 .imagebox-title h3 a:hover, .iconbox .box-text .box-title a:hover, .imagebox.style3 .imagebox-button a, .fancybox:before,
.about-partners .flat-become a.go-become:hover, .about-partners .flat-become a.go-contact:hover, .switcher-container h2 a.active:after, .blog-single .administrator .admin-content h3, .switcher-container h2 i, .contact-info .info .icon i, .form-info label.error, .section-needhelp ul.contact-help li a:hover, .services-icon .text h3, .content-casesingle .list-planning li i, .section-needhelp ul.contact-help li.phone a, .flat-history .icon, .section-needhelp .icon-help, .about-partners .flat-become a:hover, .section-about1 .title-section h2, .section-about2 .title-section h2, .list-info ul.flat-infomation li a:hover, .widget-box .widget-services .one-half li a:hover, .widget-recent ul li a:hover, .page-title .breadcrumbs li:last-child a:hover, .blog-single .flat-pagination li a .meta-nav, .top-search #searchform-all #searchsubmit, .widget-search #searchsub, .top.backgroud-gray .social-links li a:hover {
	color: #247fe1;
}

@media only screen and (max-width: 991px) {
	.header.style3 .show-search a i {
	    color: #247fe1;
	}
}
/* Border Color
-------------------------------------------------------------- */


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button, input[type="button"], 
input[type="reset"], 
input[type="submit"], .iconbox .box-icon, #subscribe-email:focus, .fancybox:hover:before, .flat-button.style2,
.content-casesingle .widget-brochure, .flat-accordion .toggle-title.active, .flex-direction-nav a, .form-info input:focus, .form-info textarea:focus, .sidebar .widget.widget-search input[type="text"]:focus {
	border-color: #247fe1;
}

.ball-scale-ripple-multiple > div {
	border: 2px solid #247fe1;
}

.tp-caption.flat-button-slider.bg-blue, .tp-caption.flat-button-slider {
	border-color: #247fe1!important;
}

.tp-caption.flat-button-slider.bg-blue:hover, .tp-caption.flat-button-slider:hover {
	border-color: #222!important;
}

/* Background Color
-------------------------------------------------------------- */
.flat-button.style2:after,.header.style2.fixed-header, .flat-button, #mainnav .menu > li > .sub-menu > li > a:hover, article.post:hover .featured-post ul.post-date, article.post .content-post .more-link a:hover, .flat-pagination li a:hover,.widget-tags .tag-cloud a:hover,.widget-services ul.menu li:hover:before, .flat-progress .progress-animate,
.wrap-header-widget .header-button a:after, .header.style2, article.post.style2:hover .post-date, .flat-pagination li a.active, article.main-post .entry-content a.more-link, .widget-brochure .btn-download a,
.title-section h2:after, .imagebox .imagebox-image:after, .portfolio-filter, .flat-tabs .menu.menu-tab li.active, .flat-pricing .flat-value:before, table.table-pricing thead,
.iconbox .box-icon:before, .iconbox-slider .owl-stage .owl-item.active .item .content-item:before, .imagebox.style2 .imagebox-text .number, .blog-shortcode article.main-post .featured-post a:after, 
.blog-single .flat-pagination li a:after, .flex-direction-nav a, .flat-accordion .toggle-title.active, button, input[type="button"], input[type="reset"], input[type="submit"], .sw-odd .sw-image .sw-buy, .owl-theme .owl-controls .owl-nav div, .widget .widget-title:after, .contact-info .info:after, .go-top:hover, .btn-menu:before, .btn-menu:after, .btn-menu span, .content-casesingle .widget-brochure,  .main-single .comments-title:after, .block-quote .quote-content:before, .comment-respond .comment-reply-title:after {
	background-color: #247fe1;
}

.flat-team .team-image:after, .flat-partners .featured:after, article.main-post .featured-post a:after {
    background-color: rgba( 36, 127, 225, 0.5);
}

.iconbox-slider .slides .item .featured-post a:after,
.flat-portfolio.style2 .wrap-iconbox .popup-gallery:after,
 .flat-portfolio.style2 .wrap-iconbox .content-portfolio .text:after {
	background-color: rgba( 36, 127, 225, 0.8);
}

.tp-caption.flat-button-slider.bg-blue {
	background-color: #247fe1!important;
}
